#header {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--base-color);
  box-shadow: 0px 2px 5px 0 rgb(0 0 0 / 16%);
  z-index: 15;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

#switch-language > select {
  padding: 12px;
  text-align: center;
  background-color: transparent;
  color: var(--white);
  font-size: var(--base-font-size);
  outline: none;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.3s;
  -moz-transition: border-bottom 0.3s;
  -o-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

#switch-language > select:hover,
#switch-language > select:focus {
  border-bottom-color: var(--white);
}

#switch-language > select > option {
  background-color: var(--base-color);
}

html[lang="ar"] #switch-language {
  margin-right: auto;
}

html[lang="en"] #switch-language {
  margin-left: auto;
}

html[lang="ar"] #header-logo {
  margin-right: 12px;
}

html[lang="en"] #header-logo {
  margin-left: 12px;
}

#burger-menu > i {
  font-size: 28px;
  color: var(--black);
  cursor: pointer;
}
