html {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body,
* {
  padding: 0px;
  margin: 0px;
}

:root {
  /* color palettes */
  --base-color: #00b3df;
  --black: #0a0a0a;
  --white: #ffffff;
  --white-smoke: #f5f5f5;
  --danger: #e52313;
  --warning: #ffcc00;
  --success: #4bb543;

  /* font family */
  --base-font-family: "Almarai", sans-serif;

  /* font weights */
  --regular: 400;
  --bold: 700;

  /* font sizes */
  --base-font-size: 18px;

  /* configurations */
  --header-height: 60px;
  --full-height-section: calc(100vh - var(--header-height));
}

a {
  color: unset;
  text-decoration: none;
}

h6 {
  font-size: 1rem;
}

h5 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
}

h1 {
  font-size: 3rem;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin: 12px 0;
}

input,
textarea {
  font-family: var(--base-font-family);
}

#router-components {
  margin-top: var(--header-height);
  transition: margin 0.5s;
}

.call-to-action-button {
  outline: none;
  position: relative;
  width: 160px;
  height: 50px;
  margin: 12px;
  border: 1px solid var(--base-color);
  border-radius: 26px;
  font-size: var(--base-font-size);
  font-weight: var(--bold);
  background-color: transparent;
  color: var(--base-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden;
  z-index: 1;
}

.call-to-action-button:hover,
.call-to-action-button:focus {
  color: var(--white);
}

.call-to-action-button::before {
  content: attr(data-text);
}

.call-to-action-button::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-color: var(--base-color);
  width: 100%;
  height: 0px;
  transition: linear height 0.3s;
}

.call-to-action-button:hover::after,
.call-to-action-button:focus::after {
  height: 100%;
}

.call-to-action-loading-button {
  width: 30px;
  height: 30px;
  content: "";
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 100%;
  pointer-events: none;
  animation: 0.8s linear infinite loadingEffect;
}

.call-to-action-loading-button:focus::after {
  width: 0px;
  height: 0px;
}

.call-to-action-loading-button::before {
  content: "";
}

.margin-center {
  display: block;
  margin: 0 auto;
}

@keyframes loadingEffect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 576px) {
  html[lang="ar"] #router-components {
    margin-right: 200px;
  }

  html[lang="en"] #router-components {
    margin-left: 200px;
  }
}
