/* Add listing */
.page-section {
  padding: 12px;
}

.page-section > h1 {
  width: 100%;
  text-align: center;
  color: var(--black);
  margin: 12px 0 32px;
}

#add-listings-form {
  max-width: 375px;
  margin: 0 auto;
}

.form-input-container {
  margin-bottom: 20px;
}

.form-input-container > span {
  font-size: 14px;
}

.form-input-label {
  color: var(--black);
}

.form-input {
  width: 100%;
  height: 50px;
  margin: 6px 0 0;
  border: none;
  border-radius: 6px;
  background-color: var(--white-smoke);
  line-height: 40px;
  font-size: var(--base-font-size);
  color: var(--base-color);
  padding: 0 6px;
  transition: box-shadow 0.3s, border-color 0.3s;
}

.form-input:focus {
  outline: none;
  box-shadow: inset 0px 0px 3px;
}

.form-input-error {
  box-shadow: inset 0px 0px 3px var(--danger) !important;
}

.form-input-warning {
  box-shadow: inset 0px 0px 3px var(--warning) !important;
}

.form-input-success {
  box-shadow: inset 0px 0px 3px var(--success) !important;
}

html[lang="ar"] .form-input {
  border-right: 5px solid var(--base-color);
}

html[lang="en"] .form-input {
  border-left: 5px solid var(--base-color);
}

html[lang="ar"] .form-input-error {
  border-right-color: var(--danger);
}

html[lang="en"] .form-input-error {
  border-left-color: var(--danger);
}

html[lang="ar"] .form-input-warning {
  border-right-color: var(--warning);
}

html[lang="en"] .form-input-warning {
  border-left-color: var(--warning);
}

html[lang="ar"] .form-input-success {
  border-right-color: var(--success);
}

html[lang="en"] .form-input-success {
  border-left-color: var(--success);
}
/* End add listing */

/* ------------------------------------------------- */

/* View listings */
.listings-wrapper {
  padding: 20px;
  background-color: var(--white-smoke);
}

html[lang="ar"] .MuiTableCell-root {
  text-align: start;
}
/* End view listings */
